body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.scrollarea {
    overflow-y: auto;
}

@media (min-width: 992px) {
    .rounded-lg-3 {
        border-radius: .3rem;
    }
    
}

@media (max-width: 575px) { 
    .lateral-bar {
        width: 100px;
    }

    .email-hide{
        opacity: 0;
        font-size:0%;
    }
}

@media (min-width: 576px) { 
    .lateral-bar {
        width: 100px;
    }
    .email-hide{
        opacity: 0;
        font-size:0%;
    }
}

@media (min-width: 768px) { 
    .lateral-bar {
        width: 150px;
    }
    .email-hide{
        opacity: 0;
        font-size:0%;
    }
 }

@media (min-width: 992px) {
    .lateral-bar {
        width: 200px;
    }
    .email-hide{
        opacity: 1;
        font-size: medium;
    }
 }

@media (min-width: 1200px) { 
    .lateral-bar {
        width: 280px;
    }
    .email-hide{
        opacity: 1;
        font-size: medium;
    }
 }